@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$phone: 840px;

@mixin phone {
    @media (max-width:#{$phone} ){
        @content; 
    }
    
}
body, html {
    font-family: 'Montserrat';
    margin: 0;

    a {
        text-decoration: none;
        cursor: default;
    }
}

body {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    @include phone {
        background-position: center;
    }
}

header {
    padding: 2em;

    .logo{
        color: rgba(255,255,230, 1);
        font-weight: bold;
        font-size: 18px;
    }


    .menu-btn{
        width: 30px;
        float: right;
        cursor: pointer;
    }
}

section {
    padding: 4em;

    h1 {
        font-size: 4em;
        margin: 1em auto;
        width: 70%;
        text-align: center;
    }
}
footer {
    position: absolute;
    display: block;
    width: 244px;
    font-size: 14px;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    
    @include phone {
        width: 175px;
        font-size: 10px;
    }
}
nav {
    z-index: 100;
    position: absolute;
    background: #1a577a;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;

    .close-btn{
        width: 30px;
        float: right;
        cursor: pointer;
        opacity: 0;
    }

    ul {
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        width: 80%;

        a {
            color: rgba(255,255,230, 1);
            font-weight: bold;
            font-size: 1.4em;
        }
        span {
            color: lightgray;
            display: block;
            font-size: 1em;
            margin-top: 20px;
        }

        li {
            opacity: 0;
            
            @include phone {
                margin-bottom: 4em;

            }

        }
        @include phone {
            display: block;
            text-align: center;
            margin: 5em auto 0 auto;
        }

    }
}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn {
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1) {
        animation: menu-item-anim .6s forwards 1s ease-in-out;

    }
    
    li:nth-of-type(2) {
        animation: menu-item-anim .6s forwards 1.2s ease-in-out;

    }
    
    li:nth-of-type(3) {
        animation: menu-item-anim .6s forwards 1.4s ease-in-out;

    }
    
    li:nth-of-type(4) {
        animation: menu-item-anim .6s forwards 1.6s ease-in-out;

    }

}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes menu-item-anim {
    0% { opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 300, 0, 1); }
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 125.912, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 31.647, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -5.53, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -13.007, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -2.352, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.311, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.007, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% {opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}


.glitch{
  color:black;
  font-size:63px;
  position:relative;
  font-weight: bold;
  width:400px;
  margin:3em auto;
  border-radius: 20%;


  @include phone {
      border: none;
      font-size: 39px;
      width: 245px;
      font-weight: 600;
  }
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 #0FF;
  top:0;
  color:black;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
  @include phone {
    
  }
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:black;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 3s infinite linear alternate-reverse;
  @include phone {
    
  }
}